extends admin_layout
block header
	| Dashboard
block content
	.span6.admin-widget
		.widget-header
			h3 Stats
		.widget-body
			.stats
				each stat in stats
					.stat.span2
						span.stat-value= stat.count
						| !{stat.name}
		
	.span5.admin-widget
		.widget-header
			h3 Notifications
		.widget-body
			each report in notifications.reports
				span=report.message