extends layout

block content
	.row
		.span3.sidebar
			ul.nav.nav-list.affix.cat-affix.bs-docs-sidenav
				li 
					a(href="#hello") 
						i.icon-chevron-right
						Hello World
				li 
					a(href="#sports") 
						i.icon-chevron-right
						Sports Discussion
				li 
					a(href="#dzeko") 
						i.icon-chevron-right
						Edin Dzeko
				li 
					a(href="#other") 
						i.icon-chevron-right
						Many other things
				
		.span9
			section#hello
				.page-header
					h1 Hello World
				h2 Things go here
				
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet commodo sapien. Praesent sit amet quam a metus viverra iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer magna ante, varius vitae congue eu, accumsan ac dui. Nunc eget arcu non sem dictum mollis. Nunc pulvinar consectetur odio ac tempor. Etiam rhoncus porta erat ut fermentum.

				p Sed aliquam malesuada lectus sit amet hendrerit. Suspendisse ut turpis nisi, ut feugiat augue. Nam sagittis rhoncus nulla quis bibendum. Integer vitae libero dui. Nullam metus sem, volutpat vitae dignissim tincidunt, dapibus non mauris. Aenean eu augue dolor, at viverra quam. Pellentesque viverra tortor et nulla porttitor dapibus varius elit aliquet. Sed mauris tortor, porta in ultricies in, molestie at velit. Vestibulum ac libero sed lectus pretium hendrerit vel sit amet ipsum. Sed eleifend, enim nec semper dictum, justo augue luctus neque, quis lacinia felis turpis id dolor.
				
			section#sports
				.page-header
					h1 Sports
				h2 Things go here
				
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet commodo sapien. Praesent sit amet quam a metus viverra iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer magna ante, varius vitae congue eu, accumsan ac dui. Nunc eget arcu non sem dictum mollis. Nunc pulvinar consectetur odio ac tempor. Etiam rhoncus porta erat ut fermentum.

				p Sed aliquam malesuada lectus sit amet hendrerit. Suspendisse ut turpis nisi, ut feugiat augue. Nam sagittis rhoncus nulla quis bibendum. Integer vitae libero dui. Nullam metus sem, volutpat vitae dignissim tincidunt, dapibus non mauris. Aenean eu augue dolor, at viverra quam. Pellentesque viverra tortor et nulla porttitor dapibus varius elit aliquet. Sed mauris tortor, porta in ultricies in, molestie at velit. Vestibulum ac libero sed lectus pretium hendrerit vel sit amet ipsum. Sed eleifend, enim nec semper dictum, justo augue luctus neque, quis lacinia felis turpis id dolor.
				
			section#dzeko
				.page-header
					h1 Dzeko
				h2 Things go here
				
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet commodo sapien. Praesent sit amet quam a metus viverra iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer magna ante, varius vitae congue eu, accumsan ac dui. Nunc eget arcu non sem dictum mollis. Nunc pulvinar consectetur odio ac tempor. Etiam rhoncus porta erat ut fermentum.

				p Sed aliquam malesuada lectus sit amet hendrerit. Suspendisse ut turpis nisi, ut feugiat augue. Nam sagittis rhoncus nulla quis bibendum. Integer vitae libero dui. Nullam metus sem, volutpat vitae dignissim tincidunt, dapibus non mauris. Aenean eu augue dolor, at viverra quam. Pellentesque viverra tortor et nulla porttitor dapibus varius elit aliquet. Sed mauris tortor, porta in ultricies in, molestie at velit. Vestibulum ac libero sed lectus pretium hendrerit vel sit amet ipsum. Sed eleifend, enim nec semper dictum, justo augue luctus neque, quis lacinia felis turpis id dolor.
				
				
			section#other
				.page-header
					h1 Other
				h2 Things go here
				
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet commodo sapien. Praesent sit amet quam a metus viverra iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer magna ante, varius vitae congue eu, accumsan ac dui. Nunc eget arcu non sem dictum mollis. Nunc pulvinar consectetur odio ac tempor. Etiam rhoncus porta erat ut fermentum.

				p Sed aliquam malesuada lectus sit amet hendrerit. Suspendisse ut turpis nisi, ut feugiat augue. Nam sagittis rhoncus nulla quis bibendum. Integer vitae libero dui. Nullam metus sem, volutpat vitae dignissim tincidunt, dapibus non mauris. Aenean eu augue dolor, at viverra quam. Pellentesque viverra tortor et nulla porttitor dapibus varius elit aliquet. Sed mauris tortor, porta in ultricies in, molestie at velit. Vestibulum ac libero sed lectus pretium hendrerit vel sit amet ipsum. Sed eleifend, enim nec semper dictum, justo augue luctus neque, quis lacinia felis turpis id dolor.