!!!
html
	head
		title= title
		!{js}
		script(src="/socket.io/socket.io.js")
		
		link(rel='stylesheet', href='/css/style.min.css')
	body(data-spy="scroll", data-target=".sidebar", data-offset="53")
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="#") xForum
					.nav-collapse.collapse
						ul.nav
							li.active
								a(href="#") Home
							li
								a(href="#about") Members
							li
								a(href="#contact") Help
						form.navbar-search.pull-right
							input(type="text", placeholder="Search").search-query
								
		.container
			block content
