extends layout
block content
	.span3.bs-docs-sidebar
		ul.nav.nav-list.bs-docs-sidenav
			li.category-nav
				a(href="/category/" + category.slug+"/")
					i.icon-chevron-right
					| !{category.name}
			
			each forum in category.forums
				li.forum-nav
					a(href="/forum/" + forum.slug+"/")
						i.icon-chevron-right
						span.sidenav-badge= forum.unRead
						| !{forum.name}
	.span9.home-categories.xforum
		include partials/category
	
block append scripts
	script(src='/js/views/category.js')
	script(src='/js/controllers/homeController.js')