extends layout

block content
	.span12.xforum.new-topic-form
		.row.display-head
			span.display-title New Topic
		section.row
			form( method="post")#create-form.form-horizontal
				legend Fill in the following fields
				fieldset
					#title-cg.control-group
						label.control-label(for='title-tf') Title
						.controls
							input#title-tf.input-xlarge(type='text', name='title', required)

					#desc-cg.control-group
						label.control-label(for='desc-tf') Description
						.controls
							input#desc-tf.input-xlarge(type='text', name='desc')
				
					#post-cg.control-group
						label.control-label(for='post') Post:
						.controls
							textarea#post.span7(name='post', rows = '10')
				
					input(type='hidden', value = parent, name = 'forum')#forum
					.form-actions
						button(type='button').btn Cancel
						button(type='submit').btn.btn-primary Create
				
	// display form errors in a custom modal window //

	include modals/form-errors
	
block append footer-scripts
	script(src='/js/views/create.js')
	script(src='/js/controllers/creationController.js')