extends layout

block content
	include navbar
				
	include account
	include modals/alert
	include modals/confirm

block append scripts
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')