extends layout

block content
	.span3.bs-docs-sidebar
		ul.nav.nav-list.bs-docs-sidenav
			each cat in categories
				if cat.forums.length
					li.category-nav
						a(href="/category/" + cat.slug+"/")
							i.icon-chevron-right
							| !{cat.name}

					each forum in cat.forums
						li.forum-nav
							a(href="/forum/" + forum.slug+"/")
								i.icon-chevron-right
								span.sidenav-badge= forum.unRead
								| !{forum.name}

	.span9.home-categories.xforum
		for category in categories
			include partials/category.jade

block append footer-scripts
	script(src='/js/views/category.js')
	script(src='/js/controllers/homeController.js')