- user = typeof(udata) != 'undefined' ? udata : {}
!!!
html
	head
		title= title
		
		block scripts
			script(src="/js/lib/jquery-1.8.0.min.js")
			script(src="/js/lib/jquery-ui-1.8.23.custom.min.js")
			script(src="/js/lib/bootstrap.min.js")
			script(src="/js/lib/jquery.form.js")
			script(src="/js/lib/jquery.timeago.js")
			script(src="/js/lib/jquery.wysihtml5.js")
			script(src="/js/lib/bootstrap.wysihtml5.js")
			script(src="/socket.io/socket.io.js")
			script(src="/js/app.js")
			script(src="/js/controllers/appController.js")
		
		
		link(rel='stylesheet', href='/css/style.min.css')
	body
		if user
			include navbar
		.container
			.row
				block content
				
		block footer-scripts
		
		include modals/alert
		include modals/confirm
