extends layout

block content
	table.table.table-bordered.table-striped
		thead
			tr
				th(style='width:40px') #
				th(style='width:180px') Name
				th(style='width:200px') Location
				th(style='width:180px') Username
		tbody
		- for (var i = 0; i < accts.length; i++)
			tr
				td= i+1
				td= accts[i].realName
				td= accts[i].location
				td= accts[i].username