div.navbar.navbar-fixed-top
	div.navbar-inner
		.container-fluid
			a(href='/').brand xForum
			ul#global-nav.nav.pull-left
				li
					a(href='/') Home
				li
					a(href='/members/') Members
				li
					a(href='/profile/') Profile
				if (user.role && user.role.permissions.CAN_ACCESS_CONTROL_PANEL)
					li
						a(href='/admin/') Admin
			button#btn-logout.btn.btn-primary
				i.icon-lock.icon-white
				| Sign Out