div.navbar.navbar-fixed-top
	div.navbar-inner
		.container-fluid
			a(href='/').brand xForum
			ul#global-nav.nav
				li
					a(href='/') Home
				li
					a(href='/members/') Members
				if (user.role && user.role.permissions.CAN_ACCESS_CONTROL_PANEL)
					li
						a(href='/admin/') Admin

			if(user._id)
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
			else
				a(href='/login/')#btn-login.pull-right.btn.btn-primary
					i.icon-lock.icon-white
					| Sign In

			span.pull-right.navbar-text Welcome, #{user.username}