extends layout

block content
	mixin actions
		ul.breadcrumb
			li
				a(href="/").breadcrumb-home Home
				span.divider /
			li
				a(href="/forum/"+topic.forum.slug+"/").breadcrumb-forum=topic.forum.name
				span.divider /
			li.active= topic.title
		.row.actions
			.span9.no-margin.pagination
				ul.topic-posts-jpages
	
			.span3.action-buttons
				if(user.role && user.role.permissions.CAN_POST)
					button.btn.btn-primary.action-button.scroll-to-reply
						i.icon-comment-alt
						| Add Reply
	.topic-view.xforum
		mixin actions
		.row.display-head
				span.display-title #{topic.title}
				span.display-subtitle= topic.desc
		section.posts#topic-posts
			each post in topic.posts
				include partials/post
		mixin actions
		if(user.role && user.role.permissions.CAN_POST)
			.row.display-head
				span.display-title Add Reply
			section.row.topic-post-reply
				form( method="post")#reply-form
					input.topicid(type='hidden', name = 'topic', value = topic._id)
			
					textarea#reply-post(name = 'reply-post', rows='10').span12
			
					span.pull-right
						button.btn.btn-primary#submit-reply(type='submit') Post
				
	
block append scripts
	script
		var me = !{JSON.stringify(user)}
	script(src='/js/views/topic.js')
	script(src='/js/lib/holder.js')
	script(src='/js/controllers/topicController.js')