
.modal-confirm.modal.hide.fade
    div.modal-header
        button.close(data-dismiss='modal') x
        h3#modal-confirm-header
    div.modal-body
        p#modal-confirm-body
    div.modal-footer
        button(data-dismiss="modal").cancel.btn Cancel
        button.submit.btn#modal-confirm-ok Ok